.collapsible-text__text {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
  transition: opacity 0.3s;
}
.collapsible-text--open .collapsible-text__text {
  visibility: visible;
  position: static;
  left: initial;
  opacity: 1;
}
